.dice_view {
	display: inline-block;
	margin: 30px;
	margin-bottom: 20px;
	border-radius: 7px;
	box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
	overflow: hidden;
	transition: 0.3s;
}

body {
  margin: 0 auto;
  text-align: center;
}

.dice {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 80vw;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: 10vh;
  overflow: hidden;
}

.description_dice {
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
  vertical-align: middle;;
	color: black;
  font-size: 2rem;
}

.un {
	background-color: #FF9AA2;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.deux {
	background-color: #FFB7B2;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.trois {
	background-color: #FFDAC1;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.quatre {
	background-color: #E2F0CB;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.cinq {
	background-color: #B5EAD7;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.six {
	background-color: #C7CEEA;
  box-shadow: 1px 1px var(--shadow-profile) var(--shadow-dice);
}

.btn_clicker_story_mobile {
  position: fixed;
  right : 1rem;
  bottom: 1rem;
	width: 4rem;
	height: 4rem;
	transition: 0.5s;
}

.btn_clicker_story_mobile:active {
	transform: translateY(0.5rem) rotate(45deg);
  transition: 0.5s;
}
